IO_LOC "clk_50m" E2;
IO_PORT "clk_50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "pin5" C11;
IO_LOC "pin6" C10;
IO_LOC "pin7" B11;
IO_LOC "pin8" B10;
IO_LOC "pin9" D11;
IO_LOC "pin10" D10;
IO_LOC "uart_tx" C3;

IO_PORT "pin5" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pin6" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pin7" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pin8" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pin9" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pin10" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
