IO_LOC "clk_50m" E2;
IO_PORT "clk_50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "hmi_spi_cs_n" C10;
IO_LOC "hmi_spi_sck" C11;
IO_LOC "hmi_spi_miso" B10;
IO_LOC "hmi_spi_mosi" B11;
IO_LOC "hmi_irq" D10;
IO_LOC "fpga_reset_n" D11;
IO_PORT "hmi_spi_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "hmi_spi_sck" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "hmi_spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "fpga_reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "hmi_spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "hmi_irq" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// Remapped ADDA input bus: J2-5..12 -> Dock J3-25..32.
IO_LOC "ad_data[0]" H2;
IO_LOC "ad_data[1]" H1;
IO_LOC "ad_data[2]" J7;
IO_LOC "ad_data[3]" K7;
IO_LOC "ad_data[4]" L8;
IO_LOC "ad_data[5]" L7;
IO_LOC "ad_data[6]" K10;
IO_LOC "ad_data[7]" L10;
IO_LOC "ad_otr" K9;
IO_LOC "ad_clk" L9;
IO_PORT "ad_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_otr" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ad_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// Remapped ADDA output bus: J2-16 -> J3-15 and J2-24..17 ->
// J3-35,36,37,38,39,40,1,2.
IO_LOC "da_clk" F1;
IO_LOC "da_data[7]" K1;
IO_LOC "da_data[6]" K2;
IO_LOC "da_data[5]" J11;
IO_LOC "da_data[4]" J10;
IO_LOC "da_data[3]" F7;
IO_LOC "da_data[2]" F6;
IO_LOC "da_data[1]" J8;
IO_LOC "da_data[0]" K8;
IO_PORT "da_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
