IO_LOC "clk_50m" E2;
IO_PORT "clk_50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "da_clk" F1;
IO_LOC "da_data[7]" K1;
IO_LOC "da_data[6]" K2;
IO_LOC "da_data[5]" J11;
IO_LOC "da_data[4]" J10;
IO_LOC "da_data[3]" F7;
IO_LOC "da_data[2]" F6;
IO_LOC "da_data[1]" J8;
IO_LOC "da_data[0]" K8;
IO_PORT "da_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "da_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
